<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/beans/spring-context-2.5.xsd
       ">

    <bean id="dataActor" factory-method="dataActor" class="net.davepkennedy.ActorFactory" />

    <bean id="restService" class="net.davepkennedy.RestResource" scope="singleton">
        <constructor-arg ref="dataActor"/>
    </bean>

    <bean id="countService" class="net.davepkennedy.CharCountResource" scope="singleton" />

</beans>